{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
            CINE LOCAL
        {%endblock%} 
         | Juan Jose Martinez
    </title>
    <link rel="stylesheet" href={% static 'css/estilos.css'%}>
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src={% static 'image/logocine.jpg' %} alt="LOGO DEL CINE">
        </div> 

        <nav>
            <ul class="nav-links">
                <li><a href="#">Peliculas</a></li>
                <li><a href="#">Teatros</a></li>
                <li><a href="#">Tarifas</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Comidas</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
        </nav>
        <a href="#" class="btn"><button>Ingresar</button></a>
        
    </header>

    <div class="content">
        {%block content%}
            <h1>Contenido no disponible</h1>
        {% endblock %}  
    </div>
</html>