{% extends 'layouts\layout.html' %}
    
{% block title%}    
    {{title}}
{%endblock%} 


{% block content %}
    {% for i in peliculas%}
        <section class="father">
            {% for pelicula in i  %}
                <div class="columna">
                    {% if pelicula.image %}
                        <div class="image">
                            <a href={% url 'pelicula' pelicula.name %}>
                                <img src="{{pelicula.image.url}}"/>
                            </a>
                            <div class="capa">
                                <label class="dispo">
                                    <h4>
                                        <a href={% url 'pelicula' pelicula.name%}>
                                            Ver disponibilidad
                                        </a>
                                    </h4>
                                </label>
                                <p>{{pelicula.name}}</p>
                            </div>
                        </div> 
                    {% else %}
                        <h1>{{pelicula.name}}</h1>
                    {% endif %}        
                </div>
            {% endfor %}
        </section>  
    {% endfor %}
{% endblock%}
    