{% extends 'layouts\layout.html' %}
    
{% block title%}    
    {{pelicula.name}}
{%endblock%} 


{% block content %}
    
    <div class="listado">
        <div class="c1">
            <img src="{{pelicula.image.url}}"/>
        </div>   
        <div class="c2">
            <ul>
                <h2>{{pelicula.name}}</h2>
                <li>
                    <strong> Titulo:</strong> {{pelicula.name}} 
                </li>
                <li>
                    Titulo Original: {{pelicula.original_name}}
                </li>
                <li>
                    Fecha de estreno: {{pelicula.realese_date}}
                </li>
                <li>
                    Clasificacion: {{pelicula.clasification}}
                </li>
                <li>
                    Duracion: {{pelicula.duration}} minutos
                </li>
                <li>
                    Generos:
                    {% for gener in genero %}
                        {{gener}}
                    {% endfor %}
                </li>
                <li>
                    Pais: {{pelicula.country}}
                </li>
            </ul>
        </div>
        <div class="c3">
            {{pelicula.link|safe}}
        </div>
    </div> 
    <p class="resumen">
        {{pelicula.abstract}}
    </p>
{% endblock%}   