{% extends 'layouts\layout.html' %}
    
{% block title%}    
    {{title}}
{%endblock%} 


{% block content %}
    {% for i in peliculas%}
        <section class="father">
            {% for pelicula in i  %}
                <div class="columna">
                    {% if pelicula.image %}
                        <div class="image">
                            <img src="{{pelicula.image.url}}"/>
                        </div> 
                    {% else %}
                        <h1>{{pelicula.name}}</h1>
                    {% endif %}        
                </div>
            {% endfor %}
        </section>  
    {% endfor %}
{% endblock%}
    