@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400&display=swap');

/* Estilos Generales*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
}

body{
    background-color: #FFFAE7;
}

.header{
    background-color:#D2001A;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height:85px;
    padding:5px 10%;
}


/* Estilos generales del header*/

.header .logo{
    cursor:pointer;
}

/* Estilos del logo*/

.header .logo img{
    height: 60px;
    width: auto;
    border-radius: 50px;
    transition: all 0.3;
}

.header .logo img:hover{
    transform: scale(1.1);
}

/* Estilos de la barra de navegacion*/

.header .nav-links{
    list-style: none;

}

.header .nav-links li{
    display: inline-flex;
    padding: 0 20px;
    flex-wrap: nowrap;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}


.header .nav-links a{
    font-size: 700;
    color:#EFEFEF;
    text-decoration: none;

}

.header .nav-links li a:hover{
    color:#FFDE00;
}

/* Estilos del boton de ingreso*/

.header .btn button{
    font-weight: 700;
    color: #D2001A;
    padding: 9px 25px;
    background-color:#EFEFEF;  
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3 ease 0s;

}

.header .btn button:hover{
    background-color:#FFFAE7 ;
    color:#FFDE00;
    transform: scale(1.1);

}

.content{
    
    margin:50px 30px;
    
}



/* listado de peliculas */

.father{
    display:flex;
}

.columna{
    background-color: #F0EABE;
    color: #D2001A;
    padding: 20px;
    width: 350px;
    margin: 10px;
 }
